<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<div class="container">
    <div id="login-box">
        <div class="controls">
            <form class="form-signin">
                <div class="logo">
                    <h1 class="logo-caption"><span class="tweak">A</span>dmin <span class="tweak">P</span>age</h1>
                </div>

                <div class="form-group" ng-show="!logged">
                    <label style="color: white">User:</label>
                    <select ng-model="user" placeholder="Your categories" style="width:100px" ng-click="getadmins(user)" ng-options="user.name for user in users">
                        <option ng-repeat="user in users">{{user.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <p class="md-caption" style="color: white">You have selected: {{ user.name}}</p>
                </div>

                <div class="form-group" ng-show="logged">
                    <select ng-model="category" placeholder="Your categories" style="width:100px">
                        <option ng-repeat="c in categories">{{c}}</option>
                    </select>
                </div>
                <div class="form-group" ng-show="!logged">
                    <label style="color: white">{{ admins[0] ? admins[0] : 'Select user first' }}</label>
                    <input type="password" placeholder="Password {{admins[0]}}" ng-model="admin1" class="form-control">
                </div>
                <div class="form-group" ng-show="!logged">
                    <label style="color: white">{{ admins[1] ? admins[1] : 'Select user first' }}</label>
                    <input type="password" placeholder="Password {{admins[1]}}" ng-model="admin2" class="form-control">
                </div>
                <div class="form-group" ng-show="!logged">
                    <label style="color: white">{{ admins[2] ? admins[2] : 'Select user first' }}</label>
                    <input type="password" placeholder="Password {{admins[2]}}" ng-model="admin3" class="form-control">
                </div>
                <div class="form-group" ng-show="logged">
                    <label style="color: white">Part from {{admins[0]}}</label>
                    <input type="text" placeholder="Part {{admins[0]}}" ng-model="part1" class="form-control">
                </div>
                <div class="form-group" ng-show="logged">
                    <label style="color: white">Part from {{admins[1]}}</label>
                    <input type="text" placeholder="Part {{admins[1]}}" ng-model="part2" class="form-control">
                </div>
                <div class="form-group" ng-show="logged">
                    <label style="color: white">Part from {{admins[2]}}</label>
                    <input type="text" placeholder="Part {{admins[2]}}" ng-model="part3" class="form-control">
                </div>
                <div>
                    <div ng-show="!logged">
                        <button type="button" class="btn btn-default btn-block btn-custom" ng-click="loginAdmins()" >Login Admins</button>
                    </div>
                    <div ng-show="logged">
                        <button type="button" class="btn btn-default btn-block btn-custom" ng-click="getUserSecrets()" >Get Secrets from {{user.name}}</button>
                    </div>

                </div>
            </form>
            <div class="form-group" ng-show="logged">
                <label style="color: white"> Part 1</label>
                <textarea class="form-control" ng-model="parts1" readonly></textarea>
            </div>
            <div class="form-group" ng-show="logged">
                <label style="color: white"> Part2</label>
                <textarea class="form-control" ng-model="parts2" readonly></textarea>
            </div>
            <div class="form-group" ng-show="logged">
                <label  style="color: white"> Part 3</label>
                <textarea class="form-control"  ng-model="parts3" readonly></textarea>
            </div>
        </div>
    </div>
</div>


<!-- build:js({.tmp,app}) ../scripts/scripts.js -->
<!-- endbuild -->
