<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<div class="container">
    <div id="login-box">
        <div class="controls">
            <form class="form-signin">
                <div class="logo">
                    <h1 class="logo-caption"><span class="tweak">A</span>dmin <span class="tweak">P</span>age</h1>
                </div>

                <div class="form-group" ng-show="!logged">
                    <label style="color: white">User:</label>
                    <select ng-model="user" placeholder="Your categories" style="width:100px" ng-click="getadmins(user)">
                        <option ng-repeat="user in users">{{user}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <p class="md-caption" style="color: white">You have selected: {{ user ? user : 'No one yet' }}</p>
                </div>

                <div class="form-group" ng-show="logged">
                    <label style="color: white">Category:</label>
                    <input type="text" placeholder="Write secret's category" ng-model="category" class="form-control">
                </div>
                <div class="form-group" ng-show="!logged">
                    <label style="color: white">{{ admins[0] ? admins[0] : 'Select user first' }}</label>
                    <input type="password" placeholder="Password {{admins[0]}}" ng-model="admin1" class="form-control">
                </div>
                <div class="form-group" ng-show="!logged">
                    <label style="color: white">{{ admins[1] ? admins[1] : 'Select user first' }}</label>
                    <input type="password" placeholder="Password {{admins[1]}}" ng-model="admin2" class="form-control">
                </div>
                <div class="form-group" ng-show="!logged">
                    <label style="color: white">{{ admins[2] ? admins[2] : 'Select user first' }}</label>
                    <input type="password" placeholder="Password {{admins[2]}}" ng-model="admin3" class="form-control">
                </div>
                <div>
                    <button type="button" class="btn btn-default btn-block btn-custom" ng-click="loginAdmins()" ng-show="!logged">Login Admins</button>
                    <button type="button" class="btn btn-default btn-block btn-custom" ng-click="getUserSecrets()" ng-show="logged">Get Secrets from {{user}}</button>
                </div>
            </form>
            <div class="form-group">
                <label for ="description" style="color: white"> Message</label>
                <textarea class="form-control" id="description" ng-model="parts" readonly></textarea>
            </div>
        </div>
    </div>
</div>


<!-- build:js({.tmp,app}) ../scripts/scripts.js -->
<!-- endbuild -->
