<head>
    <meta charset="UTF-8">
    <title>Colors</title>
</head>

<br>
<br>
<br>
<br>
<div class="container demo-page">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Clasificar Colores</h1>
            <div class="text-center">
                <button class="btn btn-primary run-demo" ng-click="train()" ng-disabled="disableTrain">START TRAINING</button>
            </div>
            <hr>
        </div>
        <input type="text"  ng-model="R" name= "r" placeholder="Red here">
        <input type="text"  ng-model="G" name= "g" placeholder="Green here">
        <input type="text"  ng-model="B" name= "b" placeholder="Blue here">

        <div id="selectedcolor" class="w3-large" style="background-color: rgb({{R}},{{G}},{{B}});">
            <h2>Input Color</h2>
        </div>

        <div id="selectedcolor2" class="w3-large" style="background-color: rgb({{netR}},{{netG}},{{netB}});">
            <h2>Output Color</h2>
        </div>
    </div>
</div>