<head>
    <meta charset="UTF-8">
    <title>Client Page</title>
</head>
<div class="container">
    <div id="login-box">
    <div class="controls">
    <form class="form-signin">
        <div class="logo">
        <h1 class="logo-caption"><span class="tweak">U</span>ser <span class="tweak">P</span>age</h1>
        </div>

        <div class="form-group">
            <label>Category:</label>
            <select ng-model="category" placeholder="Your categories" style="width:100px">
                <option ng-repeat="c in categories">{{c}}</option>
            </select>
                <input ng-disabled='category!="Other"' type="text" ng-model="newCategory" class="form-control">
            <!--<input type="text" ng-model="category" class="form-control">-->
        </div>
        <div class="form-group">
            <label>Secret:</label>
            <input type="password" ng-model="secret" class="form-control">
        </div>
        <div class="form-group">
            <label>Key:</label>
            <input type="password" ng-model="key" class="form-control">
        </div>
        <div>
        <button type="button" class="btn btn-default btn-block btn-custom" ng-click="newSecret()">Upload Secret</button>
        <button type="button" class="btn btn-default btn-block btn-custom" ng-click="getSecrets()">Get Secret</button>
        </div>
    </form>
    <div class="form-group">
        <label for ="description"> Message</label>
        <textarea class="form-control" id="description" ng-model="textarea" readonly></textarea>
    </div>
    </div>
    </div>
</div>

<!-- build:js({.tmp,app}) ../scripts/scripts.js -->
<!-- endbuild -->
