<head>
    <meta charset="UTF-8">
    <title>Filter</title>
</head>
<b class="container demo-page">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Aprender Filtros</h1>
        </div>
    </div>

    <div class="row text-center">
            <div class="btn-group">
                <button class="btn btn-primary run-demo" ng-click="train()" ng-disabled="disableTrain">START TRAINING</button>
            </div>
        </div>
    <div  class="button" ngf-select ng-model="file" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="80"
          ngf-resize="{width: 125, height: 125 , centerCrop:true}">Select
        <p class="text-center"><small>Original</small></p>
        <img id='input' ngf-src="file">
    </div>
    <div  class="button" ngf-select ng-model="file2" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="80"
          ngf-resize="{width: 125, height: 125 , centerCrop:true}">Select
        <p class="text-center"><small>Modificada</small></p>
        <img id='output'ngf-src="file2">
    </div>
    <div class="button" ngf-select ng-model="file3" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="80"
         ngf-resize="{width: 125, height: 125 , centerCrop:true}">Select
        <p class="text-center"><small>Entrada de la red</small></p>
        <img id='original' ngf-src="file3">
    </div>

    <hr>
    <div ng-show="trainingStarted" class="row text-center">
        <div class="col-sm-2">
            <a class="thumbnail canvas-fix">
                <canvas width="125" height="125" id="canvas-demo3"></canvas>
            </a>
            <p class="text-center"><small>Salida de la red</small></p>
        </div>
    </div>
    <hr ng-show="trainingStarted">
    <div ng-if="trainingStarted" class="row text-center">
        <strong>Iterations:</strong> <span id="iterations"></span>
    </div>
    <hr ng-show="trainingStarted">
</div>
</b>